.img-logo{
    /*padding-top: 5px;*/
    width: 100px;
    /* z-index: 100; */
    opacity: 1;
}

.banner-texto{
    font-weight: 800;
    padding-top: 50px;
}


.img-logo-manaus{
    padding-top: 1px;
    width: 150px;
    /* z-index: 100; */
    opacity: 1;
}

.img-logo-pyladies{
    padding-top: 10px;
    width: 180px;
    /* z-index: 100; */
    opacity: 1;
}

.sobre-desc{
    padding-top: 20px;
}

.ladies{
    margin: 5%;
    font-family: 'Lato', sans-serif;
}

.sobre{
    margin: 5%;
}

.masthead1{
    padding: 10% 0;
    width: 100%;
    height: auto;
    position: relative;
    background: url("../img/banner5.gif") bottom center scroll !important;
    background-repeat: repeat-x;
    /*background-size: 50%;*/
}

.masthead1::before {
    content: ' ';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: #040505;
    opacity: 0.8;
}

.eventos h2{
    font-weight: 800;
    color: #ffffff;
}

.eventos p{
    font-weight: 800;
    color: #ffffff;
}

.eventos{
    padding: 10% 0;
    width: 100%;
    height: auto;
    position: relative;
    background: url("../img/pc.jpg") bottom center scroll !important;
    z-index: -2;
}

.eventos::before {
    content: ' ';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: #400c3a;
    opacity: 0.9;
    z-index: -1;
}

.banner{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.img-ladies{
    width: 60%;
}

.img-pyladies{
    width: 50%;
}


#footer{
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: small;
    background: #000000;
}

#footer .icons {
    margin: 0;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1.25em 0 0;
}


.icon{
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    font-size: 23px;
}

.icon > .label {
    display: none;
}

.ladies h2{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 0 0 35px;
    letter-spacing: 1px;
    /*text-transform: uppercase; }*/
}

.ladies h3{
    padding-top: 15px;
    font-family: 'Pacifico', sans-serif;
    font-weight: 300;
    margin: 0 0 35px;
    letter-spacing: 1px;
    /*text-transform: uppercase; }*/
}